/* This file is generated */
@mixin inc--2--rel() {display:block;width:400px;height:300px;background-image:url(2.png);background-size:400px 300px;}
@mixin inc--7151--rel() {display:block;width:320px;height:240px;background-image:url(7151.jpg);background-size:320px 240px;}
@mixin inc--thumbkoshki3912--rel() {display:block;width:160px;height:120px;background-image:url(thumbkoshki 3912.jpg);background-size:160px 120px;}
@mixin inc--cat++20090508_025_amazing--rel() {display:block;width:374px;height:281px;background-image:url(cat/20090508_025_amazing.jpg);background-size:374px 281px;}
